.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/

.env
.env.private
.env.secret

/test-results/
/playwright-report/
/playwright/.cache/

allure-results/
allure-report/
html-report/
practice.ts
.env